<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbs.tobosupicture">

    <!-- 调取相机的权限 -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- ************************百度地图定位相关的权限*****************************↓ -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- *****************************百度地图定位相关的权限************************↑ -->
    <!-- ****************************友盟社会化分享相关权限*************************↓ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- ****************************友盟社会化分享相关权限*************************↑ -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- *****************************百度地图定位相关的服务************************↓ -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- *****************************百度地图定位相关的服务************************↑ -->
        <!-- *****************************百度地图定位的AcessKey************************↓ -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SFE9imNf9G4D4GEfM6Wk5O3vuGw4c9nL" />
        <!-- *****************************百度地图定位的AcessKey************************↑ -->
        <!-- *****************************新浪、微信等分享索要用的Activity************************↓ -->
        <!-- 友盟分享mate -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5957097db27b0a539700219b" />
        <!-- 友盟多渠道打包 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 新浪 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- QQ -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- *****************************新浪、微信、QQ分享索要用的Activity************************↑ -->

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FristActivity" />
        <activity android:name=".activity.FreeQuoteActivity" />
        <!-- Image Selector Entry -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.MyFansActivity" />
        <activity
            android:name=".activity.GetPriceActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.HisFansActivity" />
        <activity android:name=".activity.MyAttentionDesigner" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SetNewPasswordActivity" />
        <activity android:name=".activity.FindPasswordActivity" />
        <activity android:name=".activity.SystemActivity" />
        <activity android:name=".activity.DynamicDetailActivity" />
        <activity android:name=".activity.MyFriendsActivity" />
        <activity android:name=".activity.DesignerActivity" />
        <activity android:name=".activity.ConditionActivity" />
        <activity android:name=".activity.SeeImageActivity" />
        <activity android:name=".activity.PersonHomePageActivity" />
        <activity android:name=".activity.HisFriendsActivity"></activity>
        <activity android:name=".activity.DesignerImgListActivity"></activity>
    </application>

</manifest>