<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbs.tbsbusiness">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Android 7.0 获取文件 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tbs.tbsbusiness.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 友盟分享mate -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b120d59a40fa31c5100007a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.tbs.tbsbusiness" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.MyJpushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户点击处理 -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->

                <category android:name="com.tbs.tbsbusiness" />
            </intent-filter>
        </receiver>
        <!-- 极光推送 服务以及广播 ↑↑↑↑↑↑↑↑↑↑↑↑ -->

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.CheckPhoneNumActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.ChangePassWordActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".activity.OrderActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MineActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:configChanges="orientation" />
        <activity android:name=".activity.OrderSeacherActivity" />
        <activity android:name=".activity.OrderSearchResultActivity" />
        <activity android:name=".activity.SetingActivity" />
        <activity android:name=".web.WebViewActivity" />
        <activity android:name=".activity.SuggestionActivity" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.OnlineStoreActivity" />
        <activity android:name=".activity.CoChangeFullNameActivity" />
        <activity android:name=".activity.CoChangeSimpNameActivity" />
        <activity android:name=".activity.ChangeStoreLogoActivity" />
        <activity android:name=".activity.BigIconLookActivity" />
        <activity android:name=".activity.ChangePinPaiLogoActivity" />
        <activity android:name=".activity.BigImagePinPaiLookActivity" />
        <activity android:name=".activity.ChangeCoAddressActivity" />
        <activity android:name=".activity.ChangeRongYuImageActivity" />
        <activity android:name=".activity.BigImageLookActivity" />
        <activity android:name=".activity.ChangeQiantaiImageActivity" />
        <activity android:name=".activity.CoChangeBussinessLicenseActivity" />
        <activity android:name=".activity.ChangeCoFengGeRangeActivity" />
        <activity android:name=".activity.ChangeCoServiceActivity" />
        <activity android:name=".activity.ChangeCoJiaZhuangRange" />
        <activity android:name=".activity.CoPresonerMsgActivity" />
        <activity android:name=".activity.BandPhoneActivity" />
        <activity android:name=".activity.OrderNoteActivity"></activity>
    </application>

</manifest>